.container {
  position: relative;
}

@keyframes cursor{
  0%   { opacity: 1; }
  10%  { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  100% { opacity: 1; }
}

.cursor {
  display: inline-block;
  width: 7px;
  margin: 2px 0 0 1px;
  border-bottom: 16px solid #000;
  animation: cursor 1s infinite;
  transform: translateY(3px);
}
