.paragraph {
  font-size: 18px;
  line-height: 32px;
  color: var(--color-gray6a);
}

.header {
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
}

.header3 {
  font-size: 20px;
  line-height: 28px;
}

.proper {
  text-transform: uppercase;
  display: inline-block;
  font-size: 19px;
}

.code {
  background-color: var(--color-graydd);
  display: inline;
  font-size: 16px;
  padding: 2px;
}

@media only screen and (max-width: 768px) {
  .paragraph {
    font-size: 16px;
    line-height: 28px;
  }

  .header {
    font-size: 16px;
    line-height: 28px;
  }

  .header3 {
    font-size: 14px;
    line-height: 24px;
  }

  .code {
    font-size: 14px;
  }
}
