.link {
  color: var(--colors-black);
  display: flex;
  align-items: center;
  gap: 8px;
}

.link:visited {
  color: var(--colors-black);
}

.share {
  opacity: 0;
  transition: opacity .3s;
}

.container:hover .link .share {
  opacity: 1;
}