header.nav {
  display: flex;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 47px;
  padding: 0 10px;
  border-bottom: 5px solid #000;
  z-index: 2;
}

header.nav h1 {
  margin: 0;
  font-size: 32px;
  line-height: 35px;
  font-family: "Space Mono", monospace;
}

header.nav h1 a {
  color: black;
}

.social-link svg {
  width: 25px;
  height: 25px;
}

.social-link span {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

.nav nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 20px;
  font-size: 16px;
}

.nav nav > * {
  margin: 0 10px;
}

.nav hr {
  flex-grow: 1;
  border: none;
}

.menu-toggle {
  display: none;
  position: relative;
  width: 30px;
  height: 43px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu-toggle:before, .menu-toggle:after, .menu-toggle div {
  content: "";
  position: absolute;
  background: #000;
  width: 100%;
  height: 5px;
  left: 0;
  opacity: 1;
  transition: all 120ms ease;
  border-radius: 5px;
}

.menu-toggle:before { top: 10px }
.menu-toggle div { top: 20px }
.menu-toggle:after { top: 30px }

.nav.open .menu-toggle div { opacity: 0 }
.nav.open .menu-toggle:before { transform: rotate(135deg); top: 20px; }
.nav.open .menu-toggle:after { transform: rotate(45deg); top: 20px; }

@media (max-width: 740px) {
  header.nav {
    justify-content: space-between;
  }

  .menu-toggle {
    display: block;
  }

  .nav nav {
    display: none;
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    margin: 0;
    flex-direction: column;
    background: #fff;
    border-bottom: 5px solid #000;
    line-height: 50px;
    font-size: 20px;
  }

  .nav.open nav {
    display: flex;
  }

  .nav hr {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
  }

  .social-link {
    display: flex;
    align-items: center;
  }

  .social-link span {
    margin-left: 20px;
    width: auto;
    height: auto;
  }
}
