header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  text-transform: uppercase;
  padding: 0 32px;
  align-items: center;
}

header section {
  display: flex;
  gap: 32px;
}

header section.mobile {
  display: none;
}

header section a {
  color: #F2F2F2;
  font-family: MatterSQMono, monospace;
  font-size: 24px;
  line-height: 40px;
}

header section a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  header {
    height: 48px;
    padding: 0 16px;
  }

  header section.desktop {
    display: none;
  }

  header section.mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  header section a {
    font-size: 16px;
    line-height: 28px;
  }
}