.container {
  padding: 176px 96px;
  border-left: 16px solid var(--color-black);
  border-right: 16px solid var(--color-black);
  position: relative;
}

.header {
  max-width: 1216px;
  margin: 0 auto;
  background-color: var(--color-white);
  z-index: 1;
  position: relative;
}

.backgroundShape {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 850px) {
  .container {
    border: 0;
    padding: 40px 16px 168px;
  }

  .backgroundShape {
    left: 0;
    transform: translateY(-50%);
  }
}
