section.scenario {
  padding: 150px 0px;
  border-bottom: 5px solid var(--border-color);
  background: var(--section-even-bg);
}

section.scenario h1 {
  font-family: sans-serif;
  line-height: 50px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

section.scenario h1 {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

section.scenario:nth-child(odd) {
  background: var(--section-odd-bg);
}

section.scenario p {
  line-height: 25px;
}

section.scenario > div {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}

section.scenario .img {
  width: 40%;
  overflow: hidden;
}

.examples {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 13px;
}

.examples > * {
  margin: 10px;
  flex-grow: 1;
}
